/* General Styling */
body {
  font-family: 'Open Sans';
  color: #000;
  /* hide the horizontal scrollbar */
  overflow-x: hidden;
}

p {
    line-height: 24px;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: #e00918;
}

a:hover {
    color: #e00918;
}

span {
    color: #e00918;
}

ul {
    padding: 0;
}

/* to divide sections */
hr {
    width: 100%;
    height: 1px;
    background-color: #d9dcdf;
    border: none;
    margin: 30px 0;
}

/* heading to cut content when it's too long I use elipsiss */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button {
    background-color: #e21725;
    color: #fff;
    padding: 17px 25px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    border: 2px solid #e21725;
    float: left;
    border-radius: 999px;
}

.button:hover {
    background-color: #fff;
    color: #e21725;
    border: 2px solid #e21725;
    text-decoration: none;
}

/* Header */
header {
    padding: 30px 0 0 0;
}

.logo {
    max-width: 60%;
}

#menu-toggle {
    position: absolute;
    top: 30%;
    left: 78%;
}

#menu-toggle img {
    width: 20px;
}
/* search bar */
input {
    border: 1px solid #d9dcdf;
    color: #66747f;
    font-size: 12px;
    padding: 17px 25px;
    width: 100%;
    background: url(../images/search.png) #f7f8fa no-repeat right 35px center;
    background-size: 3%;
    outline: none;
}
/* notifications */
.notifications {
    float: right;
    margin-left: 120px;
    padding-bottom: 10px;
}

.notifications li:hover {
    cursor: pointer;
}

.notifications i {
    color: #bbc3ca;
    font-size: 20px;
}

.notifications span {
    border-radius: 50px;
    background-color: #e21725;
    color: #fff;
    font-weight: 700;
    padding: 4px 9px;
    font-size: 11px;
    position: relative;
    top: -12px;
    left: -12px;
}

#user-info li {
    display: inline-block;
}

#user-info li:nth-child(3) {
    float: right;
}

#user-info li:nth-child(3) img {
    float: left;
    margin-right: 20px;
    width: 60px;
}

#user-info li:nth-child(3) div {
    display: inline-block;
}

#user-info li:nth-child(3) p {
    margin: 0;
}

#user-info li:nth-child(3) a {
    font-weight: 700;
    color: #e21725;
}

#user-info li:nth-child(3) a {
    text-decoration: none;
}

.username {
    color: #000;
    font-weight: 700;
}
